<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    欢迎来到首页
</body>
<script>
    var failedCode={
        E1001:"账户不存在",
        E1002:"账户关闭",
        E1003:"账户冻结",
        E1005:"账户已销户",
        E1006:"账户已挂失",
        E1007:"账户状态异常",
        E1008:"账户类型有误",
        E1009:"账户不存在或状态异常",
        E1010:"账号有误",
        E1011:"户名有误",
        E1012:"账户非法",
        E1013:"账号或户名有误",
        E1014:"银行信息有误",
        E1015:"开户行信息有误",
        E1016:"过期卡",
        E1017:"不支持旧账号",
        E1018:"不支持存折账号",
        E1019:"证件号码或姓名与账户不符",
        E1020:"不能对此类账户做此类交易",
        E1021:"卡号不合法或不存在",
        E1022:"不允许跨省市交易或不支持存折",
        E1023:"客户姓名不符",
        E1024:"因帐户长期不动帐,请到柜台办理业务",
        E1025:"输入帐号卡号错",
        E1026:"非结算账户无法入账",
        E1027:"系统开户行信息不正确",
        E1059:"收款方没有通过实名认证",
        E1073:"请求参数与订单信息不一致",
        E1085:"帐户不正常",
        E1091:"客户余额不足",
        E1119:"柜员无此类凭证",
        E1313:"无此帐号或存折",
        E1314:"户况不正常或已结清",
        E1315:"该帐户有事故或质权设定，不得存入/支取/结清",
        E1328:"非实名制帐户，不得存入",
        E1341:"帐号与存折号不符",
        E1361:"身份证与账号不符",
        E1362:"此客户下无账号",
        E1365:"存折、存单号码错误",
        E1369:"此账号不能做本交易",
        E1366:"金融卡不可用",
        E1372:"金融卡有其他事故",
        E1374:"储蓄账号不能做转账交易",
        E1408:"帐号类型不符",
        E2129:"信用卡收单返回错误",
        E2130:"受限制的卡",
        E2131:"不允许做代扣",
        E2132:"无效户口代码",
        E3150:"帐户不正常",
        E3266:"客户名称与帐号不符",
        E3540:"帐户不正常",
        E3551:"帐户已冻结",
        E3556:"卡状态不正常",
        E4500:"帐户不正常或冻结",
        E4501:"帐户不正常",
        E5000:"账户已挂失",
        E5002:"卡已挂失",
        E8201:"帐户不正常",
        E8208:"一本通中该币别/钞汇已结清",
        E8301:"专项账户存入摘要代码错误或该卡已销户",
        SDB01:"非法账号",
        SHK02:"非法账号"
    }












    console.log(typeof failedCode['1001']=='undefined');
</script>
</html>